<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.bookchange">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 允许应用读取低级别的系统日志文件-->
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <!-- OpenGLES 2.0 -->
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <application
        android:name="com.app.bookchange.MapApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="iyg2bFCroQGc89iVT0KksQSNlp6Ip8yT" />

        <activity android:name="com.app.bookchange.MainActivity"></activity>
        <activity android:name="com.app.bookchange.ScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.app.bookchange.FirstActivity" />
        <activity android:name="com.app.bookchange.SecondActivity" android:label="@string/act_two" />

         <activity android:name="com.app.bookchange.view.activity.MyphotoActivity" android:screenOrientation="portrait">
        </activity>
         <activity android:name="com.app.bookchange.view.activity.CompleteinfoActivity" android:screenOrientation="portrait">
        </activity>
         <activity android:name="com.app.bookchange.view.activity.CompletebooknameActivity" android:screenOrientation="portrait">
        </activity>
         <activity android:name="com.app.bookchange.view.activity.BookfriendActivity" android:screenOrientation="portrait">
        </activity>
         <activity android:name="com.app.bookchange.view.activity.SettingActivity" android:screenOrientation="portrait">
        </activity>
         <activity android:name="com.app.bookchange.view.activity.CustomerserviceActivity" android:screenOrientation="portrait">
        </activity>
         <activity android:name="com.app.bookchange.view.activity.AccountsecurityActivity" android:screenOrientation="portrait">
        </activity>
         <activity android:name="com.app.bookchange.view.activity.ContactfriendActivity" android:screenOrientation="portrait">
        </activity>
         <activity android:name="com.app.bookchange.view.activity.SearchActivity" android:screenOrientation="portrait">
        </activity>
         <activity android:name="com.app.bookchange.view.activity.OrganizationActivity" android:screenOrientation="portrait">
        </activity>
         <activity android:name="com.app.bookchange.view.activity.AddressBaseActivity" android:screenOrientation="portrait">
        </activity>
         <activity android:name="com.app.bookchange.view.activity.AddressActivity" android:screenOrientation="portrait">
        </activity>


    </application>

</manifest>